    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        background-color: #F8F8F8;
        font-family: 'Roboto', sans-serif;
        color: #202021;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* background: rgba(0, 0, 0, 0,56); */
    }
    
    .imagen-fondo {
        position: relative;
        /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./images/home.jpg); */
        background-image: linear-gradient(
            0deg, rgb(0 0 0 / 73%), rgb(0 0 0 / 83%)), url("../images/home.jpg");

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        filter: blur(4px);
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        padding-top: 10px;
        background: rgb(21 21 21 / 56%);
        z-index: 3;
    }
    
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    li {
        list-style: none;
    }
    
    header nav ul li a {
        color: #FDFDFF;
        text-decoration: none;
        padding: 50px;
    }
    nav li {
        transition: all 1s;
    }
    nav li:hover {
        transform: scale(1.5);
        
    }
    
    /* CONTENT */
    
    .sectionHome {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionHome h1 {
        font-size: 5em;
        font-family: 'Alegreya SC', serif;
        color: #D9D9D9;
    }
    
    .sectionHome p {
        font-size: 20px;
        /* text-align: center;   */
        width: 588px;
        color: #FDFDFF;
        line-height: 38px;
        padding-bottom: 12px;
        padding-top: 11px;
        font-size: 1rem;
        line-height: 190%;
        text-align: justify;
    }
    
    .button {
        background-color: #48912F;
        color: #FDFDFF;
        text-decoration: none;
        font-size: 24px;
        padding: 13px;
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 6%;
        box-shadow: 1px 2px 19px rgba(128, 128, 128, 0.267);
    }
    
    .sec {
        background-color: #FDFDFF;
        color: #202021;
        border: 2px solid #8EC92F;
    }
    
    .medio {
        font-size: 18px;
        width: 30%;
    }
    
    .space {
        width: 100%;
        height: 200px;
    }
    
    .sectionTecnologias {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
        width: 100%;
        height: 100vh;
        margin-top: 98px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionTecnologias h1 {
        font-size: 3em;
        font-family: 'Alegreya SC', serif;
        color: #D9D9D9;
        margin: 30px;
        padding-top: 100px;
    }
    
    .img-inline {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: space-between;
    }
    
    .img-inline img {
        width: 150px;
        height: 150px;
        margin: 30px;
    }
    
    .sectionProyectos {
        width: 100%;
        height: 100vh;
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: space-between;
    }
    
    .card {
        background: #FDFDFF;
        padding: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
    }
    
    .item {
        width: 25%;
    }
    
    .card img {
        width: 100%;
    }
    
    .card h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .sectionContacto {
        width: 100%;
        height: 100vh;
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionContacto h1 {
        font-size: 3em;
        font-family: 'Alegreya SC', serif;
        color: #202021;
        margin: 30px;
        /* padding-top: 90px; */
    }
    
    .sectionContacto p {
        width: 50%;
        margin-bottom: 50px;
    }
    
    .form-contact {
        width: 50%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    
    .form-contact label {
        margin-top: 20px;
    }
    
    input {
        height: 30px;
        width: 250px;
        color: #85858b;
    }
    
    .conteiner-info {
        margin: 40px;
    }
    
    .card-h {
        margin: 30px 30px 30px 0px;
        display: grid;
        grid-template-areas: "img titulo titulo" "img info   info" "img btn   btn";
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .card-h article {
        grid-area: img;
    }
    
    .card-h .titulo {
        grid-area: titulo;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .pastillas {
        grid-area: pastillas;
    }
    
    .pastillas span {
        margin-right: 20px;
        border: solid 1px #E4ED2D;
        background-color: #E4ED2D;
        border-radius: 10px;
        padding: 5px;
    }
    
    .card-h p {
        grid-area: info;
    }
    
    .card-h a {
        grid-area: btn;
    }
    
    .sectionInfoProyecto {
        width: 100%;
        /* height: 100vh; */
        margin-top: 5%;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /* .info-izq {
    width: 30%;
} */
    
    .info-izq,
    img {
        /* width: 40%; */
        margin-right: 20px;
    }
    
    .capturas {
        /* width: 100%; */
        /* height: 100vh; */
        margin-top: 2%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    
    .capturas img {
        width: 200px;
    }
    
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 50px;
        padding-top: 10px;
        background: rgba(21, 21, 21);
        z-index: 1;
        color: #FDFDFF;
        padding: 20px;
        display: inline-block;
        text-align: center;
    }
    
    @media only screen and (max-width: 768px) {
        .card-h {
            margin: 30px 30px 30px 0px;
            display: grid;
            grid-template-areas: "img titulo" "img info" "img btn";
            grid-template-columns: 30% 70%;
            grid-template-rows: 1fr 1fr;
            row-gap: 10px;
            width: 80%;
        }
        .card-h .titulo {
            grid-area: titulo;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }