* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html {
    scroll-behavior: smooth;
}
    
body {
    background-color: $color_font_white;
    font-family: 'Roboto', sans-serif;
    color: $color_font_dark;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background: rgba(0, 0, 0, 0,56); */
}
h1{
    font-size: $font_size_title;
    font-family: 'Alegreya SC', serif;
    color: $color_font_white;
}
h2{
    color: $color_font_white;
}



.button-prim {
    @include button($color_action,$color_action);   
   
}
.button-sec {
    @include button($color_sec,$color_action); 
    color: $color_font_dark;
    
}
