#proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98vw;
    height: 100vh;
    
}
.sectionProyectos {
    margin-top: 5%;

    .card-group{
        width: 100%;
        justify-content: center;


    }
    .card-proyect {
        margin-right: 14px;
    }
}
